/* CARTAS ESPECIAIS E CORINGAS */
.card-black {
  background: linear-gradient(135deg, #111 0%, #444 100%);
  border-color: #ffcc00;
  color: #ffcc00;
}

/* TEMAS DOS MAPAS */
.map-classroom {
  background: #1c2620;
  border: 3px solid #00cc66;
}

.map-geometry {
  background: #151a30;
  border: 3px solid #0088ff;
}

.map-ceo {
  background: linear-gradient(135deg, #2a1b00 0%, #553b00 100%);
  border: 3px solid #ffcc00;
  box-shadow: 0 0 25px rgba(255, 204, 0, 0.4);
}

/* DESTAQUE PARA CARTA DO MONTE */
#discardPile {
  transform: scale(1.1);
}
